:root {
  --primary-main: '#1B7F79';
  --primary-light: '#00CCC0';
  --secondary-main: '#FF4858';
  --primary-light: '#FF6673';
  --background-mobile: rgba(27, 127, 121, 0.3);
  --background-desktop: rgba(27, 127, 121, 0.1);
}

body {
  max-width: 100vw;
}

.full {
  height: 100%;
  width: 100%;
}

.object-cover {
  object-fit: cover;
}
