:root {
  --primary-main: rgb(27, 127, 121);
  --primary-light: rgb(0, 204, 192);
  --secondary-main: rgb(255, 72, 88);
  --primary-light: rgb(255, 102, 115);
  --text-color: rgb(116, 127, 127);
  --light-gray: rgb(204, 204, 204);
  --background: rgba(27, 127, 121, 0.3);
  --background-light: rgba(27, 127, 121, 0.1);
  --background-1: rgba(234, 213, 200, 0.5);
  --background-2: rgba(40, 42, 46, 0.3);
  --background-3: rgba(13, 54, 52, 0.5);
}

body {
  max-width: 100vw;
}

.full {
  height: 100%;
  width: 100%;
}

.object-cover {
  object-fit: contain;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

/* @media only screen and (min-width: 900px) {
    .full {
      object-fit: contain;
    }
  } */
